@import '../../variables.css';

.BookTile {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: .5em;
    /*min-height: 10rem;*/
    &:hover {
        background-color: var(--lightgray, #ddd);
    }
}

.DetailWrapper {
    margin: 0 1em;
    padding: .5em;
}

.Title {
    font-size: 1.75rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.Author {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.ImageWrapper {
    width: 8rem;
    overflow: hidden;
}

.Read {
    height: 1.5em;
    fill: var(--black, black);
    margin-right: 1em;
}

.Unread {
    height: 1.5em;
    fill: var(--gray, #5B605F);
    margin-right: 1em;
}

.Delete {
    height: 1.2em;
}

.Dim {
    opacity: .3;
}
