@import '../../variables.css';

.alternating {
    & > *:nth-child(2n) {
        background-color: var(--white, white);
    }
}

.bookList {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1em .5em .3em;

    & > * {
        background-color: var(--almostwhite, WhiteSmoke);
    }
}

.listTitle {
    font-weight: normal;
}
