@import '../../variables.css';

.BookSearch {
    background-color: var(--lightgray, #ddd);
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
}

.Label {

}

.InputWrapper {
    margin: 0 .25em;
}

.AddButton {

}
